@model RentX.Models.ItemQueueViewModel
@using RentX.Models
@{
    ViewBag.Title = "GetItemQueue";
}

<h2>Item Queue</h2>


<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Renters[0].FirstName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Renters[0].LasttName)
        </td>
    </tr>
@for (int i = 0; i < Model.Renters.Count; i++)
{
<tr>
    <td>
        @Html.DisplayFor(model => model.Renters[i].FirstName)
    </td>
    <td>
        @Html.DisplayFor(model => model.Renters[i].LasttName)
    </td>
    <td>
        @Html.ActionLink("See Renter Reviews", "GetRenterRatings", "Ratings", new { id = Model.Renters[i].RenterId }, null)
    </td>
    <td>
        @Html.ActionLink("Request Payment", "RequestRenterPayment", "Leasors", new { id = Model.Renters[i].RenterId, ItemId = Model.ItemId }, null)
    </td>
    <td>
        @Html.ActionLink("Rent out Item", "RentOutItem", "Leasors", new { id = Model.Renters[i].RenterId, ItemId = Model.ItemId }, null)
    </td>
</tr>
}
</table>   
@Html.ActionLink("Back", "Index", "Home")